<div class="h-full m-auto block items-center justify-center p-10
            sm:flex">
    
    <div class="flex justify-center items-center
                sm:w-[40%]">
        <div class="block">
            <app-outter-header></app-outter-header>

            <app-footer-information *ngIf="isWideEnough"></app-footer-information>
        </div>
    </div>
    
    <div class="sm:pt-10 sm:pb-10 sm:w-[40%] sm:px-10">
        <!--<p class="text-2xl font-medium py-4">Registrierung</p>-->
        <form class="min-w-[200px] max-w-[500px] w-full m-auto h-full block pb-10
                    sm:p-4" 
                [formGroup]="registerForm" (ngSubmit)="register()">

            <div class="flex justify-center">
                <mat-form-field class="example-full-width w-80 m-auto mb-3">
                    <mat-icon matIconPrefix>person</mat-icon>
                    <mat-label class="">Vorname</mat-label>
                    <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="firstname" [(ngModel)]="firstname">
                    <mat-error *ngIf="registerForm.controls['firstname'].hasError('required')">
                        Vorname wird benötigt!
                    </mat-error>
                </mat-form-field>
            </div>
        
            <div class="flex justify-center">
                <mat-form-field class="example-full-width w-80 m-auto mb-3">
                    <mat-icon matIconPrefix>group</mat-icon>
                    <mat-label class="">Nachname</mat-label>
                    <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="lastname" [(ngModel)]="lastname">
                    <mat-error *ngIf="registerForm.controls['lastname'].hasError('required')">
                        Nachname wird benötigt!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex justify-center">
                <mat-form-field class="example-full-width w-80 m-auto mb-3">
                    <mat-icon matIconPrefix>mail</mat-icon>
                    <mat-label class="">Email</mat-label>
                    <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="email" [(ngModel)]="email">
                    <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                        Email wird benötigt!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="flex justify-center">
                <mat-form-field class="example-full-width w-80 m-auto mb-3"> 
                    <mat-icon matIconPrefix>key</mat-icon>
                    <mat-label>Passwort</mat-label>
                    <input matInput formControlName="password" [(ngModel)]="password" [type]="hide1 ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                        Bitte geben Sie ein Password ein!
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                        Passwort muss mindestens 6 Zeichen haben!
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="flex justify-center">
                <mat-form-field class="example-full-width w-80 m-auto mb-3"> 
                    <mat-icon matIconPrefix>key</mat-icon>
                    <mat-label>Passwort bestätigen</mat-label>
                    <input matInput formControlName="confirmPassword" [(ngModel)]="confirmPassword" [type]="hide2 ? 'password' : 'text'" [errorStateMatcher]="matcher">
                    <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required') && !registerForm.hasError('notSame')">
                        Bitten geben Sie ein Passwort ein!
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['confirmPassword'].touched && registerForm.hasError('notSame')">
                        Passwörter stimmen nicht überein!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="block">
                <div class="flex justify-center">
                    <button type="submit" [attr.disabled]="registerForm.valid ? null : true"
                    class="bg-[var(--secondary-color)] text-white p-2 w-80 m-auto ease-in duration-300 hover:valid:bg-indigo-800 disabled:bg-slate-500">Registrieren</button>
                </div>
                <div class="flex justify-center my-4 hover:underline">
                    <a routerLink="../login" class="text-[var(--dark-purple)]">Zurück zum Login</a>
                </div>
            </div>
        </form>

        <app-footer-information *ngIf="!isWideEnough"></app-footer-information>

    </div>


</div>