<div class="container mx-auto my-20 border-black border max-w-2xl max-h-full flex justify-center">
    <div class="col-auto">
        <form action="">
            <h2 class="text-center font-medium pb-8 text-2xl">Anmeldung</h2>
            <div class="flex flex-col bg-white border-b-slate-800 border-solid border-b">
                <label for="email" class=" text-xs">Email:</label>
                <input type="email" id="email" class="w-56 border-b-slate-800">
            </div>
        </form>
        

        
    </div>

</div>
