<div class="rounded-md my-4 mx-auto py-3 hover:sm:bg-[var(--secondary-color)] hover:sm:text-white">
        <a routerLink="{{ routeL }}">
            <div class="flex justify-between">
                <div class="flex">
                    <div class="py-0 px-3 flex items-center justify-center">
                        <span class="material-symbols-outlined text-3xl">
                            {{ iconName }}
                        </span>
                    </div>
                    <div class="flex items-center">
                        <p class="font-medium pl-3 text-2xl">{{ title }}</p>
                    </div>
                    
                </div>
                <div class="py-0 px-3 flex items-center justify-center">
                    <span class="material-symbols-outlined text-3xl">
                        keyboard_arrow_right
                    </span>
                </div>
            </div>
        </a>
    </div>