<div class="w-full flex justify-between items-center my-3 mx-0 py-1 pl-[2px] hover:border-l-2 hover:border-l-[var(--secondary-color)] hover:pl-0">
    <div class="flex items-center">
        <span class="material-symbols-outlined text-3xl pr-5">arrow_right</span>
        <div class="">
            <h3 class="m-0 font-semibold">Fallnummer: {{ id }}</h3>
            <p class="m-0 text-l">Kennnzeichen: {{ kzn }}</p>
        </div>
    </div>
    <div class="">
       <a class="py-1 px-3 text-center ease-in duration-300 rounded-sm uppercase font-medium text-sm hover:bg-neutral-500/50"
       routerLink="./caseview" [queryParams]="">Details</a> 
    </div>
</div>
