<div class="block">

    <div class="text-center">
        <p>© 2023 Ich habe einen Schaden GmbH</p>
    </div>

    <div class="flex justify-center">
        <div class="px-1">
            <a class="underline" href="https://ichhabeeinenschaden.de/agb">AGB</a>  
        </div>
        <div class="px-1">
            <a class="underline" href="https://ichhabeeinenschaden.de/datenschutz">Datenschutz</a>
        </div>
        <div class="px-1">
            <a class="underline" href="https://ichhabeeinenschaden.de/impressum">Impressum</a>
        </div>
    </div>

</div>