<div class="h-full m-auto block items-center justify-center p-10
          sm:flex">

    <div class="flex justify-center items-center
                sm:w-[40%]">
        <app-header-logo></app-header-logo>
    </div>

    <div class="pt-10
            sm:w-[40%] sm:px-10">
      <form class="min-w-[150px] max-w-[500px] w-full m-auto h-full p-4 block" [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="flex justify-center">
          <mat-form-field class="example-full-width w-80 m-auto mb-3">
            <mat-icon matIconPrefix>person</mat-icon>
            <mat-label class="">Email</mat-label>
            <input class="text-[var(--secondary-color)]" type="email" matInput formControlName="email" [(ngModel)]="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.controls['email'].hasError('required')">
              Bitte geben Sie eine gültige Email ein!
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Email wird benötigt!
            </mat-error>
          </mat-form-field>
        </div>
       
        <div class="flex justify-center">
          <mat-form-field class="example-full-width w-80 m-auto mb-3"> 
            <mat-icon matIconPrefix>key</mat-icon>
            <mat-label>Passwort</mat-label>
            <input matInput formControlName="password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Bitte geben Sie ein Password ein!
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="block">
          <div class="flex justify-center">
            <button type="submit" [attr.disabled]="loginForm.valid ? null : true"
            class="bg-[var(--secondary-color)] text-white p-2 w-80 m-auto ease-in duration-300 hover:valid:tracking-[.25em] disabled:bg-slate-500">Anmelden</button>
          </div>
          <div class="flex justify-center my-4 hover:underline">
            <a href="">Passwort vergessen?</a>
          </div>
          <div class="flex justify-center mb-4 hover:underline">
            <a routerLink="../register">Noch keinen Zugang? Registrieren Sie sich hier!</a>
          </div>
        </div>


      </form>
    </div>


</div>