<app-inner-header></app-inner-header>

<div class="max-w-sm m-auto block justify-center">
    <p class="text-center te">Neuen Fall anlegen:</p>
    <div class="flex justify-center">
        <a routerLink="../dashboard">
            <span class="material-symbols-outlined text-3xl">
            keyboard_backspace
            </span>
        </a>   
    </div>
</div>

<div class="max-w-xl m-auto">
    <mat-divider></mat-divider>
    <form class="min-w-[200px] max-w-[500px] w-full m-auto h-full block pb-10
        sm:p-4" 
        [formGroup]="caseForm" (ngSubmit)="createCase()"> 
    
        <div class="flex justify-center">
            <mat-form-field class="example-full-width w-80 m-auto mb-3">
                <mat-icon matIconPrefix>person</mat-icon>
                <mat-label class="">Vorname</mat-label>
                <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="firstname" [(ngModel)]="firstname">
                <mat-error *ngIf="caseForm.controls['firstname'].hasError('required')">
                    Vorname wird benötigt!
                </mat-error>
            </mat-form-field>
        </div>
    
        <div class="flex justify-center">
            <mat-form-field class="example-full-width w-80 m-auto mb-3">
                <mat-icon matIconPrefix>group</mat-icon>
                <mat-label class="">Nachname</mat-label>
                <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="lastname" [(ngModel)]="lastname">
                <mat-error *ngIf="caseForm.controls['lastname'].hasError('required')">
                    Nachname wird benötigt!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex justify-center">
            <mat-form-field class="example-full-width w-80 m-auto mb-3">
                <mat-icon matIconPrefix>mail</mat-icon>
                <mat-label class="">Email</mat-label>
                <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="email" [(ngModel)]="email">
                <mat-error *ngIf="caseForm.controls['email'].hasError('required')">
                    Email wird benötigt!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex justify-center">
            <mat-form-field class="example-full-width w-80 m-auto mb-3">
                <mat-icon matIconPrefix>directions_car</mat-icon>
                <mat-label class="">Kennzeichen</mat-label>
                <input class="text-[var(--secondary-color)]" type="text" matInput formControlName="kzn" [(ngModel)]="kzn">
                <mat-error *ngIf="caseForm.controls['kzn'].hasError('required')">
                    Kennzeichen wird benötigt!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="block">
            <div class="flex justify-center">
                <button type="submit" [attr.disabled]="caseForm.valid ? null : true"
                class="bg-[var(--secondary-color)] text-white p-2 w-80 m-auto ease-in duration-300 hover:valid:bg-indigo-800 disabled:bg-slate-500">Fall anlegen</button>
            </div>
            <div class="flex justify-center my-4 hover:underline">
                <a routerLink="../login" class="text-[var(--dark-purple)]">Zusätzliche Informationen*</a>
            </div>
        </div>
    </form>
    <mat-divider></mat-divider>
</div>

