<div class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden py-6 sm:py-12">
    <div class="max-w-xl px-5 text-center">
      <h2 class="mb-2 text-[42px] font-bold ">Überprüfen Sie Ihr Postfach</h2>
      <p class="mb-2 text-lg text-zinc-500">Wir freuen uns über Ihre Registrierung! Wir haben Ihnen einn Link zur Bestätigung ihre Email
         <span class="font-medium text-indigo-500">mail@yourdomain.com</span> gesendet.</p>
      <a routerLink="../login" class="mt-3 inline-block w-96 bg-[var(--secondary-color)] px-5 py-3 font-medium text-white shadow-md shadow-indigo-500/20 hover:bg-indigo-700">Zum Login</a>
    </div>
  </div>
