<app-inner-header></app-inner-header>

<div class="max-w-sm m-auto block justify-center">
    <p class="text-center te">Angelegte Fälle:</p>
    <div class="flex justify-center">
        <a routerLink="../dashboard">
            <span class="material-symbols-outlined text-3xl">
            keyboard_backspace
            </span>
        </a>   
    </div>
</div>

<div class="max-w-xl m-auto">
    <mat-divider></mat-divider>

    <div *ngIf="!loaded" class="py-40">
        <app-loading-indicator></app-loading-indicator>
    </div>
    <div *ngIf="loaded">
        <app-case-view-element *ngFor="let case of cases"></app-case-view-element>
    </div>
    

    <mat-divider></mat-divider>
</div>